.errorlabel{
    color: red;
}

.warninglabel{
    color: orange;
}

.internalerror{
    background-color: #ffabab;
}

.alertlabel{
    background-color:#ffff99;
    color:#4d4d00;
    margin:10px;
    padding:10px;
}

.queuedforgrading {
    background-color: #fcefdc;
    color: #8e662e;
    border-color: #ababab;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    padding: 10px;
}

.specificfeedback .gradingstatus{
    font-weight: bold;
    display: flex;
    align-items: center;
}

p.expandcollapselink {
	text-align: right;
}

p.expandcollapselink a {
	margin-left: 15px;
}

.qtype_moopt_answertext{
    margin-bottom: 30px;
}

.answertextfilename {
    margin-bottom: 10px;
}

.loader {
    border: 4px solid #ababab;
    border-top: 4px solid #4c4c4c;
    border-radius: 50%;
    width: 23px;
    height: 23px;
    margin-left: 15px;
    animation: spin 2s linear infinite;
}

.answertextcode {
    background-color: #dddddd;
    padding: 10px;
    box-shadow: inset 0 0 3px #000000;
}

.answertextreadonly{
    margin-bottom: 20px;
}

.submissionfilearea{
    margin-left: 10px;
}

.providedfiles, .providedfilesteacher{
    margin-left: 10px;
}

.readonlysubmittedfiles{
    margin-left: 10px;
}

.readonlysubmittedfreetext{
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.internaldescription, .gradingscheme, .providedfilesteacher {
    background-color: #C9F5E0;
    margin-top: 10px;
}